---
layout: base.njk
---

{% set coll = collections.comicPages %}
{% set firstPage = coll[0] %}
{% set lastPage = coll[ (coll | length) - 1 ] %}

{% if not currentPage %}
	{% set currentPage = page %}
{% endif %}

{% set previousPage = coll | getPreviousCollectionItem(currentPage) %}
{% set nextPage = coll | getNextCollectionItem(currentPage) %}

<h1>{{title}}</h1>

{% if date %}
	<p class="date">{{date | formatDate}}</p>
{% endif %}

{% include "imports/_pageNav.njk" %}

<div class="comic-content">
	{{content | safe}}
</div>

{% include "imports/_pageNav.njk" %}

<script src="{{metadata.assets.js}}/arrowNavigation.js"></script>