---
layout: base.njk
---

{% set coll = collections.comic %}
{% set firstPage = coll[0] %}
{% set previousPage = coll | getPreviousCollectionItem %}
{% set nextPage = coll | getNextCollectionItem %}
{% set lastPage = coll[ (coll | length) - 1 ] %}

{% include "imports/_pageNav.njk" %}

<div class="comic-content">
	{{content | safe}}
</div>

{% include "imports/_pageNav.njk" %}

<script src="{{metadata.assets.js}}/arrowNavigation.js"></script>