---
layout: comicPage.njk
---

{% set coll = collections.comicPages %}
{% set firstPage = coll[0] %}
{% set lastPage = coll[ (coll | length) - 1 ] %}

{% if not currentPage %}
	{% set currentPage = lastPage %}
{% endif %}

{% set previousPage = coll | getPreviousCollectionItem(currentPage) %}
{% set nextPage = coll | getNextCollectionItem(currentPage) %}
{% set content = lastPage.templateContent %}

{% include "imports/_pageNav.njk" %}

{{ content | safe }}

{% include "imports/_pageNav.njk" %}