<nav>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/cast">Cast</a>
		</li>
		<li>
			<a href="/archive">Archive</a>
		</li>
		{% if options.enableContentWarnings %}
			<li>
				<a href="#" id="cw-dialogue">Content Options</a>
			</li>
		{% endif %}
	</ul>
</nav>