<nav class="comic-navigation">
	<ol>
		{% if previousPage %}
			<li class="first-page">
				<a href="{{firstPage.url}}">First</a>
			</li>
			<li class="previous-page">
				<a href="{{previousPage.url}}">Previous</a>
			</li>
		{% endif %}
		{% if nextPage %}
			<li class="next-page">
				<a href="{{nextPage.url}}">Next</a>
			</li>
			<li class="last-page">
				<a href="{{lastPage.url}}">Last</a>
			</li>
		{% endif %}
	</ol>
</nav>