<div class="save-load-buttons">
	{% if not disableSaveLoad %}
		<button id="save-page">Save Page</button>
	{% endif %}
	<button id="load-page">Load Page</button>
</div>

<script src="/assets/js/saveLoad.js">
</script>