@use "sass:math";

@mixin container {
  border: 5px solid black;
  border-radius: 1em;
  background-color: #eee;
  padding: 1.5em;
}

@mixin button {
  display: block;
  border-radius: .5em;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  color: black;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
}

:root {
  --color-text: #222;
  --bg-body: #ccc;
  --cw-shadow-color: rgba(0, 0, 0, 0.65);
  --cw-visible-color: rgba(0, 0, 0, 0.1);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 24px 0;
  background: var(--bg-body);
  padding: 0;
  overflow-x: hidden;
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

#page-header {
  @include container;
  width: 720px;
  text-align: center;

  #logo {
    img {
      display: block;
      width: 100%;
    }
  }

  nav {
    margin: 1em 0 0;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      gap: 1em;
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;
    }

    li {
      flex-grow: 1;
      padding: 0
    }

    a {
      @include button;
    }
  }
}

#content {
  @include container;
  width: 720px;
}

#skip-links {
  position: absolute;
  top: -3em;

  a {
    position: relative;
    background-color: white;
    color: black;

    &:focus {
      top: 3em;
    }
  }
}

h1 {
  margin-top: 0;
}

#content-warning {
  max-width: 640px;

  &::backdrop {
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.85);
  }

  label {
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px;
    font-style: italic;
  }
}

.blur-content {
  position: relative;
  margin: 15px 0;

  p > & {
    margin: 0;
  }

  &:not([data-blurred]) .blur-inner {
    box-shadow: var(--cw-visible-color) 0px 0px 5px 5px;
    background: var(--cw-visible-color);
  }

  .blur-warning {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: box-shadow 120ms;
    box-shadow: var(--cw-shadow-color) 0px 0px 5px 5px;
    background: var(--cw-shadow-color);
    width: 100%;
    height: 100%;
    color: #eee;
    font-style: italic;
  }

  &[data-blurred] .blur-warning {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover .blur-warning {
    box-shadow: var(--cw-shadow-color) 0px 0px 8px 8px;
  }
}

.lightbox-image {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: inline-block;
    height: 100%;
  }

  img {
    display: block;
    width: auto;
    max-height: 100%;
  }
}

#lb-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.85);
  min-width: 100vw;
  height: 100vh;
  overflow-x: auto;

  &[hidden] {
    display: none;
  }
}

#lb-metadata {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: flex-start;
  gap: 20px;
  box-sizing: border-box;
  background: #eee;
  padding: 10px 10vw;
  width: 100%;
  height: 100px;
}

#lb-caption {
  width: 50%;
  font-size: 1.5em;
  text-align: right;
}

#lb-metalist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px 15px;
  margin-right: 20px;
  padding-right: 20px;
  width: 50%;
  max-height: 100%;
  overflow-y: auto;

  & > tr {
    display: flex;
    justify-content: space-between;

    th {
      text-align: left;
    }

    td {
      text-align: right;
    }
  }
}

#lb-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding: 40px;
  min-width: 100vw;
  height: calc(100vh - 100px);

  > * {
    cursor: initial;
  }
}

#lb-img {
  max-width: min(1200px, 100%);
  max-height: calc(100vh - 180px);
}

.comic-navigation {
  ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
